@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

:root {
  --Linear-gradient-active-input-border: hsl(249, 99%, 64%) to
    hsl(278, 94%, 30%);
  --Red-input-errors: hsl(0, 100%, 66%);

  --White: hsl(0, 0%, 100%);
  --Light-grayish-violet: hsl(270, 3%, 87%);
  --Dark-grayish-violet: hsl(279, 6%, 55%);
  --Very-dark-violet: hsl(278, 68%, 11%);
}

body {
  min-height: 100vh;
}

main {
  height: 100vh;

}

.containerCard{
  width: 100%;
  height: 100vh;
}

.flip-card{
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardPart{
  width: 100%;
  height: 40vh;
  background-image: url(images/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: aquamarine;
}



.cardMain{
  display: flex;
  flex-direction: column-reverse;
}


.cardFrontSide {
  width: 425px;
  height: 235px;
  background-color: var(--Light-grayish-violet);
  border-radius: 12px;
  background-image: url(images/bg-card-front.png);
  background-position: center;
  background-size: cover;
  padding: 1rem 1.2rem;
  z-index: 1000;
}


.cardBackSide {
  width: 425px;
  height: 235px;
  background-color: var(--Light-grayish-violet);
  border-radius: 12px;
  background-image: url(images/bg-card-back.png);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transform: translateY(150px);
  transform: translateX(60px);
}

.backCardNumber {
  margin-right: 3.56rem;
  margin-bottom: 0.2rem;
  font-size: 0.85rem;
  font-weight: 300;
  letter-spacing: 0.14rem;
}

/* .flip-card {
  grid-column: 1 / span 12;
  grid-row: 1 / span 5;
  background-image: url(images/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  display: grid;
  place-items: center;
  background-color: aqua;
} */


/* .containerCard {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(14, 1fr);
  background-color: aqua;
}

.flip-card {
  grid-column: 1 / span 12;
  grid-row: 1 / span 5;
  background-image: url(images/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  display: grid;
  place-items: center;
}

.cardMain {
  width: fit-content;
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
}

.cardFrontSide {
  width: 425px;
  height: 235px;
  grid-column: 3 / span 6;
  grid-row: 7 / span 9;
  background-color: var(--Light-grayish-violet);
  border-radius: 12px;
  background-image: url(images/bg-card-front.png);
  background-position: center;
  background-size: cover;
  padding: 1rem 1.2rem;
  /* margin-top: 15rem; */
  z-index: 9999;
  position: absolute;
  top: 65%;
}

/* .cardBackSide {
  min-width: 425px;
  height: 235px;
  grid-column: 4 / span 12;
  grid-row: 2 / span 12;
  background-color: var(--Light-grayish-violet);
  border-radius: 12px;
  background-image: url(images/bg-card-back.png);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 3rem;
  margin-left: 7rem;
}

.backCardNumber {
  margin-right: 3.56rem;
  margin-bottom: 0.2rem;
  font-size: 0.85rem;
  font-weight: 300;
  letter-spacing: 0.14rem;
}

.topLogo {
  margin-bottom: 4rem;
}

.cardNumber {
  color: var(--White);
  letter-spacing: 0.25rem;
  font-size: 1.65rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.NameOfHolder {
  font-size: 0.9rem;
  color: var(--White);
  font-weight: 400;
  letter-spacing: 0.15rem;
  display: inline;
}

.cardValid {
  display: flex;
  color: var(--White);
  float: right;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.15rem;
}


.form-details{

} */

/* .form-details {
  width: 75%;
  grid-column: 3 / span 8;
  grid-row: 10 / span 4;
}
.formContent {
  width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2rem;
}

.formContent input {
  padding: 1rem;
  font-size: 1rem;
  border-radius: 12px;
  letter-spacing: 0.015rem;
  border: 1px solid var(--Light-grayish-violet);
}

input::placeholder {
  color: var(--Dark-grayish-violet);
}

input:focus {
  outline: 1px solid var(--Dark-grayish-violet);
}

.input_error {
  outline: 1px solid var(--Red-input-errors);
}
label {
  margin-bottom: 0.2rem;
  font-size: 0.75rem;
  letter-spacing: 0.125rem;
  color: var(--Very-dark-violet);
  font-weight: 500;
}

.card-expiration-cvv {
  width: 100%;
  display: flex;
  margin-top: 1rem;
}

.monExpired {
  width: 50%;
}

.monExpired input {
  width: 45%;
  height: 40px;
  padding-left: 0.8rem;
}

.form_exp_month,
.formCVV {
  margin-top: 0.8rem;
  margin-bottom: 2rem;
}

.cvv {
  width: 50%;
}

.cvv input {
  width: 100%;
  height: 40px;
}

.cnfBtn {
  background-color: var(--Very-dark-violet);
  color: var(--White);
  padding: 1rem;
  border-radius: 12px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.error {
  position: relative;
  bottom: 0.4rem;
  font-size: 0.76rem;
  letter-spacing: -0.002rem;
  color: var(--Red-input-errors);
} */ */
